/* first scene */

.first-animation-character {
  animation: walkInFrame 3s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.second-animation-character {
  animation: walkOutFrame 3s linear;

  animation-fill-mode: forwards;
}
.character-turn {
  animation: turnCharacter 0.000001s linear;
  animation-fill-mode: both;
}
.enemie-left {
  animation: enemieLeft 4s linear;
  animation-fill-mode: both;
}
.enemie-right {
  animation: enemieRight 4s linear;
  animation-fill-mode: both;
}
.darken {
  animation: fadeOut 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes walkInFrame {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60vw);
  }
}
@keyframes turnCharacter {
  from {
    background-position: 0 -450px;
  }
  to {
    background-position: 0px -150px;
  }
}
@keyframes walkOutFrame {
  from {
    transform: translateX(60vw);
  }
  to {
    transform: translateX(140vw);
  }
}

@keyframes walk-sc-1 {
  from {
    background-position: 0 -450px;
  }
  to {
    background-position: -400.25px -450px;
  }
}

@keyframes enemieLeft {
  0% {
    transform: translate(0, 0) scale(-1, 1);
  }
  33% {
    transform: translate(30vw, -20vw) scale(-1, 1);
  }
  66% {
    transform: translate(35vw, -0vw) scale(-1, 1);
  }
  67% {
    transform: translate(35vw, -0vw) scale(1, 1);
  }
  100% {
    transform: translate(00px, 0) scale(1, 1);
  }
}
@keyframes enemieRight {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-40vw, 10vw);
  }
  25.1% {
    transform: translate(-40vw, 10vw) scale(-1, 1);
  }
  50% {
    transform: translate(-10vw, 20vw) scale(-1, 1);
  }
  75% {
    transform: translate(-10vw, 0vw) scale(-1, 1);
  }

  100% {
    transform: translate(20vw, 0vw) scale(-1, 1);
  }
}

/* second scene */

.character {
  display: inline-block;
  width: 100%;
  height: 100%;
  scale: 1.3;
  background: url("../../assets/player.png") no-repeat;
}
.character-sc1 {
  animation: walk 0.3s steps(4) infinite;
}
#charactersc2 {
  animation: walk 0.3s steps(4) infinite;
}
#infoGuy {
  height: 100%;
}

#background1 {
  animation: primary 20s linear infinite;
}
#background2 {
  animation: secondary 20s linear infinite;
}

#clouds1 {
  animation: primary 30s linear infinite;
}
#clouds2 {
  animation: secondary 30s linear infinite;
}
#ground1 {
  animation: primary 8s linear infinite;
}
#ground2 {
  animation: secondary 8s linear infinite;
}
#infoGuyBox {
  animation: infoGuy 10s linear infinite;
}

.jump {
  transform: translate(0px, -250px);
}

@keyframes walk {
  from {
    background-position: 0 -450px;
  }
  to {
    background-position: -400.25px -450px;
  }
}

@keyframes infoGuy {
  from {
    left: 300px;
  }
  to {
    left: -3539px;
  }
}

@keyframes primary {
  from {
    left: 0px;
  }
  to {
    left: -3539px;
  }
}

@keyframes secondary {
  from {
    left: 3539px;
  }
  to {
    left: 0px;
  }
}
