/* first scene */

/* second scene */

#character {
  display: inline-block;
  width: 100%;
  height: 100%;
  scale: 1.3;
  background: url("../../assets/player.png") no-repeat;
  animation: walk 0.3s steps(4) infinite;
}

#infoGuy {
  height: 100%;
}

#background1 {
  animation: primary 20s linear infinite;
}
#background2 {
  animation: secondary 20s linear infinite;
}

#clouds1 {
  animation: primary 30s linear infinite;
}
#clouds2 {
  animation: secondary 30s linear infinite;
}
#ground1 {
  animation: primary 10s linear infinite;
}
#ground2 {
  animation: secondary 10s linear infinite;
}
#infoGuyBox {
  animation: infoGuy 10s linear infinite;
}

.jump {
  transform: translate(0px, -200px);
}

@keyframes walk {
  from {
    background-position: 0 -450px;
  }
  to {
    background-position: -400.25px -450px;
  }
}

@keyframes infoGuy {
  from {
    left: 300px;
  }
  to {
    left: -3539px;
  }
}

@keyframes primary {
  from {
    left: 0px;
  }
  to {
    left: -3539px;
  }
}

@keyframes secondary {
  from {
    left: 3539px;
  }
  to {
    left: 0px;
  }
}
