#character {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/player.png") no-repeat;
  animation: walk 0.3s steps(4) infinite;
}

.jump {
  transform: translate(0px, -100px);
}

@keyframes walk {
  from {
    background-position: 0 -450px;
  }
  to {
    background-position: -400.25px -450px;
  }
}
#enemie {
  background: url("../assets/enemie.gif") no-repeat;
  width: 100px;
  height: 100px;
  z-index: 9998;
  position: absolute;
  bottom: 140px;
  left: 300px;
}
