:root {
  --speed: 4;
}

.scroll-parent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 3739px;
  height: 100%;
  background-image: url("../assets/background.png");
  background-repeat: repeat-x;
  animation-duration: 15s;
  animation-name: scrolling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  z-index: 1;
  background-color: blue;
  object-fit: fill;
  background-size: cover;
}
#clouds {
  position: absolute;
  left: 0;
  top: 60px;
  width: 3639px;
  height: 64px;
  background-image: url("../assets/clouds.png");
  background-repeat: repeat-x;
  animation-duration: 10s;
  animation-name: scrolling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  z-index: 3;
}

#ground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3739px;
  height: 368px;
  background-image: url("../assets/ground.png");
  background-repeat: repeat;
  animation-duration: 5s;
  animation-name: scrolling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  z-index: 3;
}

#primary {
  animation: primary 10s linear infinite;
}

#secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0px;
  }
  to {
    left: -3639px;
  }
}

@keyframes secondary {
  from {
    left: 3639px;
  }
  to {
    left: 0px;
  }
}
