#background1 {
  animation: primary 20s linear infinite;
}
#background2 {
  animation: secondary 20s linear infinite;
}

#clouds1 {
  animation: primary 30s linear infinite;
}
#clouds2 {
  animation: secondary 30s linear infinite;
}
#ground1 {
  animation: primary 10s linear infinite;
}
#ground2 {
  animation: secondary 10s linear infinite;
}
.clouds {
  position: absolute;
  left: 0;
  top: 200px;
  width: 3639px;
  height: 200px;
  background-image: url("../assets/clouds.png");
  background-repeat: repeat-x;
  animation-play-state: paused;
  z-index: 3;
}
.ground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3739px;
  height: 368px;
  background-image: url("../assets/ground.png");
  background-repeat: repeat;
  animation-play-state: paused;
  z-index: 3;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 3739px;
  height: 100%;
  background-image: url("../assets/background.png");
  background-repeat: repeat-x;
  animation-duration: 15s;

  z-index: 1;
  object-fit: fill;
  animation-play-state: paused;
  background-size: cover;
}

@keyframes primary {
  from {
    left: 0px;
  }
  to {
    left: -3639px;
  }
}

@keyframes secondary {
  from {
    left: 3639px;
  }
  to {
    left: 0px;
  }
}
